<%- include('partials/header') %>
  <%- include('partials/leftMenu') %>

    <div class="col-lg-9">

      <ul class="row list-group flex-row">

        <% for(const figurine of figurines) { %>
          <li class="list-group-item p-2 border-0 col-lg-4 col-md-6 mb-4">
            <article class="card h-100">
              <a href="/article/<%=figurine.id%>">
                <img class="card-img-top" src="./images/<%=figurine.name.toLowerCase()%>.png" alt="">
                <div class="badge-category badge badge-pill badge-<%=figurine.category.toLowerCase()%>"><%=figurine.category%></div>
              </a>
              <main class="card-body">
                <h3 class="h4 card-title">
                  <a href="/article/<%=figurine.id%>"><%=figurine.name%></a>
                </h3>
                <strong class="h5">$<%=figurine.price%></strong>
                <p class="card-text"><%=figurine.description%></p>
              </main>
              <footer class="card-footer">
                <small class="text-muted">
                  <% for (let i = 0; i < 5; i++) { %>
                    <% if (figurine.avgNote > i) { %>
                      &#9733;
                    <% } else { %>
                      &#9734;
                    <% } %>
                  <% } %>
                </small>
                <a href="/bookmarks/add/<%=figurine.id%>" class="link-add-bookmarks">+ Ajouter aux favoris</a>
              </footer>
            </article>
          </li>
          <% } %>
        </ul>

    </div>
    <!-- /.col-lg-9 -->
    <%- include('partials/footer') %>