<%- include('partials/header') %>

  <%- include('partials/leftMenu') %>

    <%# Ici c'est notre fichie produit, donc la balise la plus adapté selon MDN c'est la balise article%>
      <article itemscope itemtype="https://schema.org/Product" class="col-lg-9">

        <div class="row">
          <%# Il est courant que les images et leur legende se retrouve dans une balise <figure>. Ici on a pas de
            légende mais elel est de toute façon optionnelle. Si on en avait eu une il aurait fallu utiliser la balise
            <figcaption> %>
              <figure class="col-lg-6">
                <img itemprop="image" class="" src="/images/<%=figurine.name.toLowerCase()%>.png" alt="">
              </figure>

              <div class="col-lg-6">
                <div class="card">
                  <div class="card-body">
                    <%# On peut aussi hierarchisé le contenu à l'intérieur d'un article, on rajoute donc,
                      header+main+footer%>
                      <header class="h3">
                        <%# Pour sortir la catégorie du h3 c'était un peu tricky. Pour régler le problème on a rajouter
                          la classe h3 au conteneur global header%>
                          <%# Afin de pouvoir garder les 2 élément l'un a côté de l'autre on a utiliser la classe
                            d-inline-block, qui ajoute la propriété display: inline-block%>
                            <h2 itemprop="name" content="Figurine Final Fantasy <%=figurine.name%>" class="h3 d-inline-block card-title">
                              <%=figurine.name%>
                            </h2>
                            <div itemprop="category" class="badge badge-pill badge-<%=figurine.category.toLowerCase()%>">
                              <%=figurine.category%>
                            </div>
                      </header>
                      <main>
                        <p class="card-text" itemprop="height" itemscope itemtype="http://schema.org/QuantitativeValue">
                          Taille réelle : <span itemprop="value"><%=figurine.size%></span><span itemprop="unitCode" content="CMT">cm</span>
                        </p>
                        <p itemprop="description" class="card-text">
                          <%=figurine.description%>
                        </p>
                        <p class="card-text" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                          <meta itemprop="ratingValue" content="<%=figurine.avgNote%>">
                          <meta itemprop="ratingCount" content="<%=figurine.reviews.length%>">
                          <meta itemprop="reviewCount" content="<%=figurine.reviews.length%>">
                          Note moyenne :
                          <% for (let i=0; i < 5; i++) { %>
                            <% if (figurine.avgNote> i) { %>
                              &#9733;
                            <% } else { %>
                              &#9734;
                            <% } %>
                          <% } %>
                          <br>
                          <a href="#" data-toggle="modal" data-target="#reviewsModal">Détails des avis</a>
                        </p>
                        <%#Ici ce n'est pas vraiment un titre, mais cela reste important, donc on utilise la balise strong%>
                        <strong class="h5" itemprop="offer" itemscope itemtype="http://schema.org/Offer"><span itemprop="priceCurrency" content="USD">$</span><span itemprop="price"><%=figurine.price%></span></strong>
                      </main>
                      <footer class="card-text">
                        <a href="/bookmarks/add/<%=figurine.id%>" class="link-add-bookmarks">+ Ajouter aux favoris</a>
                      </footer>
                  </div>
                </div>

              </div>

        </div>
        <!-- /.row -->


      <!-- Modale des avis -->
      <%# Les commentaires concerne la fiche produit alors on les déplace dans la balise article %>
      <%# On transforme en balise aside, car cela n'est pas l'information principale de l'article, mais comme ce aside ce trouve dans la balise article, cela est quand même considéré comme une information lié a celui-ci%>
      <aside class="modal fade" id="reviewsModal" tabindex="-1" role="dialog" aria-labelledby="reviewsModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="reviewsModalLabel">Avis des internautes</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <% for (const review of figurine.reviews) { %>
              <section itemprop="review" itemscope itemtype="http://schema.org/Review">
                <h5>
                  <%=review.title%>&nbsp; <small itemprop="reviewRating" itemscope itemtype="https://schema.org/Rating" class="text-muted">
                    <meta itemprop="worstRating" content = "1">
                    <meta itemprop="ratingValue" content = "<%=review.note%>">
                    <meta itemprop="bestRating" content = "5">
                      <% for (let i=0; i < 5; i++) { %>
                        <% if (review.note> i) { %>
                          &#9733;
                        <% } else { %>
                          &#9734;
                        <% } %>
                      <% } %>
                    </small>
                </h5>
                <p class="review-author">par <span itemprop="author"><%=review.author%></span>
                </p>
                <p itemprop="reviewBody">
                  <%=review.message%>
                </p>
              </section>

              <hr>
              <% } %>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
          </div>
        </div>
      </div>
    </aside>

      </article>
      <!-- /.col-lg-9 -->


      <%- include('partials/footer') %>